.sponsorLogo{
    max-height: 100px;
    max-width: 200px;
}
.centerTitle{
    text-align: center;
    padding-left: 0px;
    padding-top: 30px;
}
.caroselContainer{
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

@media only screen and (min-width: 768px) {
    .centerTitle{
       text-align: left;
       padding-left: 10px;
    }
}