html
  head
    style.
      .boarder{
      max-width: 600px;
      padding: 1rem;
      position: relative;
      background: linear-gradient(to bottom, #28b3f6, #2ab3f6, #708ae8);
      padding: 20px;
      }
      .box{
      background: #FFFFFF;
      color: black;
      padding: 2rem;
      }
      .logo {
      max-width: 40%;
      height: auto;
      padding-bottom: 0px;
      }
  body
    .boarder
      .box
        center
          img.logo(src='https://ionbahamas.org/js/react/src/imgs/logo.jpg')
        p Dear #{membersData.Name}
        p
          | On behalf of ION (Igniting Our Nation) Bahamas, we would like to congratulate you on being selected as a recipient of the inaugural college and university scholarship class for the year 2020-2021.
        p
          | We wish you every success in your academic career and admonish you to strive for excellence in all your endeavors.
        p
          | Please submit a photo for publication along with a signed 
          a(href='https://ionbahamas.org/js/express/docs/ION%20Media%20Release%20Form.pdf', download='') media release form
          a  by close of business Monday, August 10th.
        a
          p Again, congratulations!
          p
            | Carlisle Mott
            br
            | 					President
      a
    a
