html
  head
    style.
      .boarder{
      max-width: 600px;
      padding: 1rem;
      position: relative;
      background: linear-gradient(to bottom, #28b3f6, #2ab3f6, #708ae8);
      padding: 20px;
      }
      .box{
      background: #FFFFFF;
      color: black;
      padding: 2rem;
      }
      .logo {
      max-width: 40%;
      height: auto;
      padding-bottom: 0px;
      }
  body
    .boarder
      .box
        center
          img.logo(src='https://ionbahamas.org/js/react/src/imgs/logo.jpg')
        p
          | Dear
        p
          | We at Igniting Our Nation Bahamas, a nonprofit organization would like to express our gratitude for your continued membership and support over the past year. Your involvement has enabled us to offer service, provide resources in the aftermath of Hurricane Dorian, provide six scholarships in the upcoming school year, contribute to the agricultural growth in The Bahamas and raise awareness for ION Bahamas.
        p
          | We ask that you renew your membership this annual enrollment period through our website. Attached for your convenience is the link to our website, 
          a(href='https://ionbahamas.org') www.ionbahamas.org
          | . We continue to focus on our mission which is to be of assistance to and enhance the lives of Bahamians and friends of The Bahamas, both at home and abroad via educational and civic engagement.  Should you have any additional questions we may be contacted at info@ionbahamas.org. Thank you for joining this community!
        p
          | Regards,
        p
          | Carlisle Mott
          br
          | 					President
