# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.jsonstatus
.gitignore
src/imgs/
js/react/node_modules/
MemberShip.mwb
MemberShip.mwb.bak
package-lock.json
.gitignore
js/node/node_modules/
js/react/src/env/env.js
js/express/node_modules/

index.php
js/express/env/ssl.env
js/express/server.js

.htaccess
js/react/build/

.easyssl_backup/
backup/
error_log
sitemap.xml
js/express/env/app.env
js/express/env/ssl.env
js/react/src/env/square.js

js/express/env/db.env
js/express/env/payment.env
js/react/src/env/square.js
js/react/src/logo.svg
js/react/src/imgs/
js/react/src/docs/
js/express/env/
js/react/public/
js/react/src/env/
js/react/src/serviceWorker.js
js/react/src/App.test.js


