doctype html
html
  head
    style.
      .content {
      max-width: 400px;
      margin: auto;
      }
      img {
      border-radius: 50%;
      }
      table, th, td {
      border: 1px solid black;
      }
  body
    .content
      center
        h2 Your application has been received.
        img(src='https://ionbahamas.org/js/react/src/imgs/logo.jpg')
      h4
        | Name : #{scholarInfo.name}
        br
        |       Email Contact : #{scholarInfo.email} 
        br
        |       Submitted link : 
        a(href=`${scholarInfo.vidLink}`) Video
      h4
        p
          | Thank you for applying. Our board will review your application and will reach out to you via email if you are selected.
