.sponsors {
    display: inline-block;
}
.board{
    text-align: center;
}
.bio{
    margin-top: 10px;
}
.bioTitle{
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .bioTitle{
       text-align: left;
    }
    .center{
        margin: auto;
        width: '20%';
    }
}