.bigCalendar{
    display: none;
}
.eventPlus{
    display: inherit;
}
.listItemText{
    padding-left : 60px;
}

@media only screen and (min-width: 768px) {
    .bioTitle{
       text-align: left;
    }
    .eventPlus{
        display: none;
    }
    .bigCalendar{
        display: inline-block;
        height: 650px;
    }
    
    .listItemText{
        padding-left : 10px;
    }
}