.content {
    max-width: 700px;
    margin: auto;
    padding: 20px;
  }
.container{
    padding: 20px;
}
div.content > center > p, div.content > center > form{
    font-size: 15px;
    font-weight: bold;
}
h3.title{
    font-family: "Brush Script MT","Times New Roman", Times, serif;
    color: darkcyan;
    font-weight: bold;
}
.value{
    font-family: "Times New Roman", Times, serif;
    color: darkslateblue;
    font-size: 20px;
}
.upperCase{
    text-transform: uppercase;
}
input ,textarea {
    background-color:lightgray;
    font-family: monospace;
}